@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body {
  background-color: white;
}
.zindex-1 {
  z-index: 1;
}
.image-clip-path {
  clip-path: polygon(
    88% 0,
    83% 14%,
    97% 12%,
    80% 40%,
    100% 46%,
    100% 100%,
    8% 100%,
    16% 85%,
    0 87%,
    10% 77%,
    15% 72%,
    0% 65%,
    0 0
  );
}
